<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindCourse</title>
    <link rel="stylesheet" href="./css/findCourse.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5b1cf534f0124bbf03d02def34505c63&libraries=services,clusterer,drawing"
    ></script>
    <!-- header -->
    <header class="find-course__header">
      <div>
        <a href="./main.html">
          <img
            src="../images/logo_white.png"
            alt="logo"
            id="jeogi-logo__img"
            width="180px"
          />
        </a>
      </div>
      <nav class="find-course__nav__list">
        <ul>
          <li>
            <a href="./findCourse.html" style="border-bottom: 2px solid white"
              >코스찾기</a
            >
          </li>
          <li>
            <a href="./myFavoriteCourse.html">내코스</a>
          </li>
          <li>
            <a href="./myInfo.html">마이페이지</a>
          </li>
          <li>
            <a href="login.html">로그인</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- header -->

    <!-- main-content -->
    <main>
      <article class="find-course__container">
        <!-- kakao map api -->
        <div class="find-course__map">
          <div id="map"></div>
        </div>
        <!-- kakao map api -->

        <!-- search place -->
        <div class="find-course-list__container">
          <div class="find-course__search">
            <span class="material-symbols-outlined" id="search_icon">
              search
            </span>
            <input type="text" id="find-course__searchbar" />
            <span class="material-symbols-outlined" id="location_button">
              my_location
            </span>
          </div>

          <!-- contents ( 10개 ) -->
          <section>
            <div class="radius">
              <button class="radius__button" value="100">100m</button>
              <button class="radius__button" value="150">150m</button>
              <button class="radius__button" value="200">200m</button>
              <button class="radius__button" value="250">250m</button>
              <button class="radius__button" value="300">300m</button>
            </div>
            <div class="items">
              <div class="find-course-list">
                <div class="find-course-list__image">
                  <img src="../images/logo_white_ver2.png" alt="어때" />
                </div>
                <div class="find-course-list__description"><h1>카페명</h1></div>
              </div>

              <!-- <div class="find-course-list">
                <div class="find-course-list__image">
                  <img src="../images/logo_white_ver2.png" alt="어때" />
                </div>
                <div class="find-course-list__description"><h1>카페명</h1></div>
              </div>

              <div class="find-course-list">
                <div class="find-course-list__image">
                  <img src="../images/logo_white_ver2.png" alt="어때" />
                </div>
                <div class="find-course-list__description"><h1>카페명</h1></div>
              </div>

              <div class="find-course-list">
                <div class="find-course-list__image">
                  <img src="../images/logo_white_ver2.png" alt="어때" />
                </div>
                <div class="find-course-list__description"><h1>카페명</h1></div>
              </div>

              <div class="find-course-list">
                <div class="find-course-list__image">
                  <img src="../images/logo_white_ver2.png" alt="어때" />
                </div>
                <div class="find-course-list__description"><h1>카페명</h1></div>
              </div>

              <div class="find-course-list">
                <div class="find-course-list__image">
                  <img src="../images/logo_white_ver2.png" alt="어때" />
                </div>
                <div class="find-course-list__description"><h1>카페명</h1></div>
              </div>

              <div class="find-course-list">
                <div class="find-course-list__image">
                  <img src="../images/logo_white_ver2.png" alt="어때" />
                </div>
                <div class="find-course-list__description"><h1>카페명</h1></div>
              </div>

              <div class="find-course-list">
                <div class="find-course-list__image">
                  <img src="../images/logo_white_ver2.png" alt="어때" />
                </div>
                <div class="find-course-list__description"><h1>카페명</h1></div>
              </div>

              <div class="find-course-list">
                <div class="find-course-list__image">
                  <img src="../images/logo_white_ver2.png" alt="어때" />
                </div>
                <div class="find-course-list__description"><h1>카페명</h1></div>
              </div>

              <div class="find-course-list">
                <div class="find-course-list__image">
                  <img src="../images/logo_white_ver2.png" alt="어때" />
                </div>
                <div class="find-course-list__description"><h1>카페명</h1></div>
              </div> -->
            </div>
          </section>
          <!-- contents -->
        </div>
        <!-- search place -->
      </article>
    </main>
    <!-- main-content -->

    <!-- kakao map api - javascript -->
    <!-- <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5b1cf534f0124bbf03d02def34505c63"
    ></script> -->
    <script src="./js/findCourseMap.js"></script>
    <script src="./js/findCourse.js"></script>
    <!-- kakao map api - javascript -->
  </body>
</html>
