<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="./css/login.css" />
    <!-- <script src="jquery-1.7.2.min.js"></script> -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    
    <!--login container-->
    <div class="login-container">
      <!-- login-->
      <div class="login">
        <a href="./main.html">
        <img
          src="../images/logo.png"
          alt="jeogi"
          height="50px"
          style="margin-bottom:50px"
        />
      </a>
      <form action="./login" method="post" id="login-form">
        <div class = "loginbox">
        <input type="text" id="loginid" name="loginid" placeholder="ID" />
        <input type="password" id="loginpw" name="loginpw" placeholder="PASSWORD" />
      </div>
      <div class="loginfind">
        <ul>
          <li><a href="#">아이디찾기</a></li>
          <li><a href="#">비밀번호찾기</a></li>
        </ul>
      </div>
        <div class="login-submit">
          <button type="button" id="loginbtn">로그인</button>
          <!-- <button type="button"id="loginbtn"onclick="alert('로그인 완료')" >로그인</button> -->
          <button type="button"onclick="location.href='./signup.html'"> 회원가입</button>
        
      </form>
      </div>
      <!--login-->
    </div>
    <!--login container-->
    <script src="./js/login.js"></script>
  </body>
</html>